.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.note-container {
  height: 100%;
  overflow: auto;
}

.main-container {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
}

.pinned-info-container {
  padding-bottom: 20px;
  border-bottom: 1px solid #9aa1a8;
}
