<div class="main-container">
  <div class="pinned-info-container">
    <div style="display: flex">
      <div style="margin-left: 20px; margin-top: 13px;">
        <button mat-button routerLink="../">Back</button>
      </div>
      <div style="margin-left: 20px;">
        <button mat-icon-button style="margin-top: 5px; margin-bottom: 5px;" (click)="addComboNote()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div style="margin-left: 20px; margin-top: 15px">
        <h2>{{selectedCharacterName}}</h2>
      </div>
    </div>
    <div class="move-input-container">
      <div *ngIf="!moveList || moveList.length === 0">
        <span>Loading move inputs...</span>
      </div>
      <div class="move-input" [ngClass]="moveListColorClasses[i]" *ngFor="let move of moveList; let i = index">
        <span class="move-input-text">{{move.input}}</span>
      </div>
<!--      <button style="margin: 5px;" mat-raised-button *ngFor="let move of moveList">{{move.input}}</button>-->
    </div>
  </div>
  <div class="note-container" id="combo-note-container">
    <app-combo-note *ngFor="let note of comboNotes; let i = index"
      [comboNote]="comboNotes[i]"
      (saveComboNote)="saveComboNote(i)"
      (deleteComboNote)="deleteComboNote(i)"></app-combo-note>
  </div>
</div>
