<div class="main-container">
  <div class="pinned-info-container">
    <div style="display: flex">
      <mat-form-field appearance="fill">
        <mat-label>Select Character</mat-label>
        <mat-select (selectionChange)="onSelectCharacter($event)">
          <mat-option *ngFor="let character of characterDropdownList" [value]="character.characterId">
            {{character.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="margin-left: 20px;">

      </div>
      <div style="margin-left: 20px;">
        <button mat-icon-button style="margin-top: 5px;" (click)="addComboNote()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <div *ngIf="!moveList || moveList.length === 0">
        <span>Nothing to show here. Try selecting a character or scrapping the move list first.</span>
      </div>
      <button style="margin-right: 2px" mat-raised-button *ngFor="let move of moveList">{{move.input}}</button>
    </div>
  </div>
  <div class="note-container">
    <app-combo-note *ngFor="let note of comboNotes; let i = index"
      [comboNote]="comboNotes[i]"
      (saveComboNote)="saveComboNote(i)"
      (deleteComboNote)="deleteComboNote(i)"></app-combo-note>
  </div>
</div>
