.combo-input-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.combo-note-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ededed;
}

.longest-streak-input {
  width: 55px;
  margin-left: 20px;
}

.longest-streak-label {
  margin-left: 20px;
}

.extra-info-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
