.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 16px;
  background: #3f51b5;
  color: white;
  height: 55px;
}


.flex-spacer {
  flex-grow: 1;
}

.load-spinner {
  height: 20px !important;
  width: 20px !important;
  margin-left: 20px;
}
