.combo-input-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.combo-note-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 16px;
  background: #3f51b5;
  color: white;
}

.flex-spacer {
  flex-grow: 1;
}

.load-spinner {
  height: 20px !important;
  width: 20px !important;
  margin-left: 20px;
}

.note-container {
  height: 100%;
  overflow: auto;
}

.main-container {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
}

.longest-streak-input {
  width: 55px;
  margin-left: 20px;
}

.longest-streak-label {
  margin-left: 20px;
}

.pinned-info-container {
  padding-bottom: 20px;
  border-bottom: 1px solid #9aa1a8;
}
